
ul {
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 40px 0px;
  width: 80px;
  background-color: #ffffff;
  padding-right: 10px;
}

.icon {
  margin-bottom: 20px;
  border-radius: 10px;
  gap: 8px;
  display: block;
  background-color: #ffffff;
  padding: 12px 12px;
  text-decoration: none;
  margin-left:20px;
}

.bag-icon {
  margin-bottom: 20px;
  border-radius: 10px;
  gap: 8px;
  display: block;
  background-color: #000;
  padding: 12px 12px;
  text-decoration: none;
  margin-left:20px;
}

/* Change the link color on hover */
.icon:hover {
  background-color: #EDEDED;

}

.bag-icon:hover {
  background-color: #535353;

}

.exitIcon{
  padding-top: 400px;
}