 @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
 
 .App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #EDEDED;
  font-family: "Cabin", sans-serif;
  }

body {
  padding: 0;
  margin: 10px;
}
