@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');



/* card list css */
#check{
  color: rgb(0, 0, 0);
  font-family: "Cabin", sans-serif;
  margin: 15px;
  width: 30px;
  padding: 30px;
  height: 20px;
  border-radius: 50px;
}

#defaultCheckbox{
  width: 20px;
}

.input-div{
  margin: 30px;
}

.input-div input {
  border-radius: 20px;
  background-color: #fff;
  margin-top: 9px;
  font-size: 18px;
  padding: 5px;
  padding-left: 19px;
  font-family: "Cabin", sans-serif;
}

.input-div label{
  font-family: "Cabin", sans-serif;
  border-radius: 20px;
  margin-top: 9px;
  font-size: 18px;
  padding: 5px;
  padding-left: 13px;
  color: #707070;
}

.form-check-input {
  font-family: "Cabin", sans-serif;
  width: 596px;
  height: 10px;
  border-radius: 25px;
  gap: 8px;

  background-color: #fff; 
}

.payment{
  font-family: "Cabin", sans-serif;
  justify-content: center;
  border-radius: 13px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color:  rgba(26, 31, 22, 0.5);
  font-weight: 400;
  padding: 25px;
width: 700px;
}


.selectCard{
  color: rgb(0, 0, 0);
  font-family: "Cabin", sans-serif;
  width: 356px;
  height: 38px;
  gap: 0px;
  opacity: 0px;
  font-family: Cabin;
  font-size: 31.25px;
  font-weight: 400;
  line-height: 37.97px;
  letter-spacing: 0.25em;
  text-align: left; 
  color: black; 
  margin-bottom: 20px;
}

.newCard{
  color: rgb(0, 0, 0);
  font-family: "Cabin", sans-serif;
  width: 356px;
  height: 38px;
  gap: 0px;
  opacity: 0px;
  font-family: Cabin;
  font-size: 31.25px;
  font-weight: 400;
  line-height: 37.97px;
  letter-spacing: 0.25em;
  text-align: left;  
  margin-bottom: 50px;
}


#form-label{
  padding-bottom: 60px;
}


.cardcontainer{
  font-family: "Cabin", sans-serif;
  border-radius: 33px;
  background: #ffffff;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardlistdiv{
  border-radius: 33px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bttnback{
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  color: #424242;
}

.newCard{
  color: black;
}