@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body{
  
  background-color: #EDEDED;
  font-family: "Cabin", sans-serif;
overflow-x: hidden;
}

.columns {
    display: flex;
    width: 100%;
  }
  
  .column1, .column2, .column3 {
    flex: 1; /* Each column takes up equal space */
    padding: 5px; /* Add some spacing around the content */
  }
  
  /* Optional: Customize the width of each column */
  .column1 {
    margin-right: -10px;
    width: 10%; /* First column takes up 25% of the space */
  }
  
  .column2 {
    width: 70%; /* Second column takes up 50% of the space */
    padding-bottom: 200px;
    padding-top: 50px;
  }
  
  .column3 {
    border-left: #1A1F16 4px solid;
    width: 35%; /* Third column takes up 25% of the space */
    margin: 40px;
    color: #ededed;
  }

.sidecart img{
background-color: #ffffff;
padding-left: 30px;
border-radius: 20px;
}

  .Cart {
    background-color: #ededed;
  }

  button{
    background-color: #EDEDED;
    color: #EDEDED;
    border: #EDEDED;
  }

  input{
    background-color: #EDEDED;
    border: #EDEDED;
    color: #EDEDED;
  }

  #heading-cart{
    color: #1A1F16;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 40px;
  }

  .ViewBag-Btn {
    color: #ffffff;
    text-align: center;
    background-color: #1A1F16;
    border-radius: 15px;
    padding: 5px 5px;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }